{% extends 'base.html.twig' %}
{% block title %}
    Categories
{% endblock %}
{% block body %}
    <h1 class="text-left mx-auto my-5 pt-4">
        Categories
    </h1>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col-md-4">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4 d-flex align-items-center">
                        <img src="{{ asset('/images/categories/nu-disco.jpg') }}" class="card-img-top mx-auto ms-2 mt-2 mb-2 rounded" alt="image par défaut" style="max-width: 150px;"></div>
                        <div class="col">
                            <div class="card-body d-flex flex-column justify-content-between">
                                <div>
                                    <h5 class="card-title mt-2">
                                        Card title
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex align-items-center">
                            <img src="{{ asset('/images/categories/nu-disco.jpg') }}" class="card-img-top mx-auto ms-2 mt-2 mb-2  rounded" alt="image par défaut" style="max-width: 150px;"></div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title mt-2">
                                            Card title
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center">
                                <img src="{{ asset('/images/categories/nu-disco.jpg') }}" class="card-img-top mx-auto ms-2 mt-2 mb-2  rounded" alt="image par défaut" style="max-width: 150px;"></div>
                                <div class="col-md-8">
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <div>
                                            <h5 class="card-title mt-2">
                                                Card title
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center">
                                <img src="{{ asset('/images/categories/nu-disco.jpg') }}" class="card-img-top mx-auto ms-2 mt-2 mb-2  rounded" alt="image par défaut" style="max-width: 150px;"></div>
                                <div class="col-md-8">
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <div>
                                            <h5 class="card-title mt-2">
                                                Card title
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center">
                                <img src="{{ asset('/images/categories/nu-disco.jpg') }}" class="card-img-top mx-auto ms-2 mt-2 mb-2  rounded" alt="image par défaut" style="max-width: 150px;"></div>
                                <div class="col-md-8">
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <div>
                                            <h5 class="card-title mt-2">
                                                Card title
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex align-items-center">
                                <img src="{{ asset('/images/categories/nu-disco.jpg') }}" class="card-img-top mx-auto ms-2 mt-2 mb-2  rounded" alt="image par défaut" style="max-width: 150px;"></div>
                                <div class="col-md-8">
                                    <div class="card-body d-flex flex-column justify-content-between">
                                        <div>
                                            <h5 class="card-title mt-2">
                                                Card title
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Add more cards following the same structure -->
                </div>
            <!-- Add more cards following the same structure -->
            </div>
        {% endblock %}