{% extends 'base.html.twig' %}
{% block title %}
    {{ category.name }}
{% endblock %}
{% block body %}
    <h1>{{ category.name }}</h1>
    <div class="row">
{% for music in category.musics %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card">
                    {% if music.imageName is defined and music.imageName is not null %}
                        <img src="{{ asset('images/musics/' ~ music.imageName) }}" class="card-img-top" alt="{{ music.title }}">
                    {% else %}
                        <img src="{{ asset('images/music/default-image.jpg') }}" class="card-img-top" alt="Default Image" style="height: 100px ">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ music.title }}</h5>
                        <p class="card-text">{{ music.description }}</p>
                        {% if music.audioName is defined and music.audioName is not null %}
                            <audio controls src="{{ asset('music/' ~ music.audioName) }}" class="card-audio" alt="Audio Player"></audio>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    {# <p class="text-center">
    Aucune musique trouvée pour cette catégorie.
    <br>
    <a href="{{ path ('app_category') }}" class="btn btn-outline-secondary mt-3">Explorer d'autres catégories</a>
    </p> #}




{% endblock %}