{% extends 'base.html.twig' %}

{% block title %}Music index{% endblock %}

{% block body %}
    <h1>Music index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>ImageName</th>
                <th>Slug</th>
                <th>UpdatedAt</th>
                <th>Length</th>
                <th>AudioName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for music in music %}
            <tr>
                <td>{{ music.id }}</td>
                <td>{{ music.title }}</td>
                <td>{{ music.description }}</td>
                <td>{{ music.author }}</td>
                <td>{{ music.imageName }}</td>
                <td>{{ music.slug }}</td>
                <td>{{ music.updatedAt ? music.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ music.length ? music.length|date('H:i:s') : '' }}</td>
                <td>{{ music.audioName }}</td>
                <td>
                    <a href="{{ path('app_artist_music_show', {'id': music.id}) }}">show</a>
                    <a href="{{ path('app_artist_music_edit', {'id': music.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_artist_music_new') }}">Create new</a>
{% endblock %}
