{% extends 'base.html.twig' %}

{% block title %}Music{% endblock %}

{% block body %}
    <h1>Music</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ music.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ music.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ music.description }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ music.author }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ music.imageName }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ music.slug }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ music.updatedAt ? music.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>{{ music.length ? music.length|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AudioName</th>
                <td>{{ music.audioName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil') }}">back to list</a>

    <a href="{{ path('app_artist_music_edit', {'id': music.id}) }}">edit</a>

    {{ include('artist_music/_delete_form.html.twig') }}
{% endblock %}
