{% extends 'base.html.twig' %}

{% block title %}Nos Musiques{% endblock %}

{% block body %}
  <h1 class="text-left mx-auto my-5 pt-4">
        Nos Musiques
    </h1>
    <div class="d-flex justify-content-around"></div>
    {# On affiche toutes les musics avec une boucle #}
    <div class="row mt-5">
        <div class="col-3 mb-3">
            <div class="card h-100 position-relative">
                <div class="position-relative">
                    {% if music.imageName is defined and music.ImageName is not null %}
                      
                        <img src="{{ asset('/images/categories/music' ~ music.ImageName) }}" class="card-img-top" alt="{{ music.titre }}">
                            {% else %}
                        <img src="{{ asset('/images/categories/nu-disco.jpg') }}" class="card-img-top" alt="image par défaut">
                            {% endif %}
                            {% if video.videoName is defined  and video.videoName is not null%}
                        <audio controls src="{{asset ('musics/' ~ audio.audioFile)}}" class="card-img-top" alt="..."></audio>
                           {% else %}
                        <audio controls src="{{ asset('/musics/best-of-me15sec.mp3') }}" class="card-img-top" alt="image par défaut">
                            {% endif %}
                            <i data-feather="heart"></i>
                        </a>
                </div>
            </a>
            <div class="d-flex gap-5 position-absolute bottom-0 m-4 p-3">
                <button type="submit" class="btn btn-primary ">
                music
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}  

  
