{% extends 'base.html.twig' %}
{% block title %}{{ music.title }}{% endblock %}

{% block body %}
<h1>{{ music.title }}</h1>
<div class="row">
	<div class="col-12 col-md-3">
		{% if music.imageName is defined and music.imageName is not null %}
  	<img src="{{ asset('images/musics/' ~ music.imageName) }}" class="card-img-top" alt="{{ music.title }}" class="img-fluid">
		{% else %}
		<img src="{{ asset('/images/musics/image-default.png') }}" alt="" class="img-fluid">
		{% endif %}

		{% if music.audioName is defined and music.audioName is not null%}
		<audio controls src="{{asset ('/music/' ~ music.audioName)}}" class="card-img-top" alt="..."></audio>
		{% else %}
		<audio controls src="{{ asset('/music/calling-out15sec.mp3') }}" class="card-img-top" alt="image par défaut">
		{% endif %}
</div>

{% if is_granted('ROLE_SPONSOR') %}
            <button onclick="window.location.href = 'mailto:shinvaleriya1808@gmail.com';" class="btn btn-primary btn-violet spotify-style-button">Open Email</button>
        {% endif %}




<div class="col-12 col-md-9">
{# <h2>Description :</h2>
<p>{{ music.description }}</p> #}
<h2>Auteur(s)</h2>
<ul>
{% for author in music.author %}
<li>{{ author }}</li>
{% endfor %}
</ul>
</div>
</div>


{% endblock %}