{% extends 'base-backend.html.twig' %}

{% block title %}Music index{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap justify-content-between align-items-center">

    <h1>Music index</h1>

    <a href="{{ path('app_admin_music_new') }}" class="btn btn-success"><i class="align-middle" data-feather="plus"></i></a>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>ImageName</th>
                <th>Nom d'audio</th>
                <th>Slug</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for music in music %}
            <tr>
                <td>{{ music.id }}</td>
                <td>{{ music.title }}</td>
                <td>{{ music.description }}</td>
                <td>{{ music.author }}</td>
                <td>{{ music.imageName }}</td>
                <td>{{ music.audioName }}</td>
                <td>{{ music.slug }}</td>
                <td>{{ music.category }}</td>
                <td>
                    <a href="{{ path('app_admin_music_show', {'id': music.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_music_edit', {'id': music.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
